body,
h1 {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
h1, h3, p {
  color: #6C0E25 !important;
}
/* //////////////////////// Custom CSS ////////////////////*/
.wine-app-page {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  grid-column-gap: 55px;
  grid-row-gap: 2%;
  margin: 2% 5%;
}

.wine-app-logo {
  grid-column: 1/2;
  grid-row: 1;
  align-self: center;
  width: 80%;
}

.wine-app-introduction {
  grid-column: 2/3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#searchbox {
  margin-bottom: 0 !important;
  width: 80% !important;
}

#searchbox input {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid red;
  font-size: 20px;
  padding-left: 0;
}

#searchbox input:focus {
  outline: none;
}

.left-panel {
  grid-column: 1/2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

.left-panel > div {
  margin: 5% 5%;
}

.container {
  grid-column: 2/3;
  grid-row: 2;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

#sort-by {
  margin-bottom: 20px;
  margin-right: 10px;
}

#color-list {
  min-height: 100px;
}

#hits > div > div > ol > li > article > img {
  width: 50%;
}

#domain-list {
  min-height: 280px;
}

.wine-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.wine-tag > h1 {
  font-size: 20px;
  color: #6C0E25;
  margin-top: 20px;
  text-align: center;
}

.wine-tag {
  text-align: center;
  flex-grow: 2;
}

.wine-domain {
  font-weight: 500;
  font-style: italic;
}

.add-cart-button {
  color: white;
  height: 2.5rem;
  font-size: 1rem;
}

.wine-info {
  display: flex;
  justify-content: space-between;
  width: 40%;
  flex-direction: row-reverse;
}

.quality-value {
  display: flex;
}

.wine-transaction span {
  border-bottom: 2px solid red;
  padding-bottom: 2px;
}

.wine-transaction {
  margin-top: 40px;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.giphy-embed {
  margin-top: 30px;
}

/* ///////////////////////// OVERWRITE CSS ///////////////// */
.ais-Panel-body .ais-RangeSlider {
  margin: 10px 20px;
}
.ais-Panel {
  color: #6C0E25 !important;
}
.ais-Panel-header {
  border-bottom: 4px solid #6C0E25;
}

.ais-RangeSlider .rheostat-background {
  border-color: #9F253A !important;
}
.rheostat-progress {
  background-color: #9F253A !important;
}
.ais-RatingMenu-link {
  color: #E74653 !important;
}
.ais-RangeInput-submit {
  background-color: #E74653 !important;
  width: 60px;
}
.ais-Pagination-link {
  color: #E74653;
}
.ais-Pagination-link:hover {
  color: #E74653;
}
.ais-Pagination-item--selected .ais-Pagination-link {
  background-color: #E74653;
  border-color: #E74653;
}
.ais-Hits-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.ais-Hits-item {
  width: calc(100% - 1rem);
}
.ais-SearchBox-submit {
  display: none;
}
.ais-RefinementList-count{
  color: white;
  background-color: rgb(108,14,37, 0.2);
}
input.ais-SearchBox-input::placeholder {
  color: rgb(108,14,37, 0.4);
}
.ais-RefinementList-labelText, .ais-RatingMenu-count {
  color: rgb(108,14,37, 1);
}
.ais-ClearRefinements-button {
  background-color: rgb(108,14,37, 1);
  height: 35px;
  width: 120px;
}
.ais-ClearRefinements-button:hover {
  background-color: rgb(108,14,37, 1);
}

.fa-cart-arrow-down:before {
  content: "\f218";
  font-size: 28px;
  color: white;
}
.fa-wine-glass-alt:before {
  content: "\f5ce";
  font-size: 28px;
  color: #9F253A;
}
.fa-shopping-cart {
  color: #9F253A;
  font-size: 25px;
  margin-left: 25px;
}
.fa-user {
  color: #9F253A;
  font-size: 25px;
  margin-left: 25px;
}